body{

  background-image: url(./../img/space.jpg); 
  background-size: cover;
}
.left-div{
  width:45%;
  padding: 10rem 6rem 10rem 6rem;
  color:white;
  float:left;
}
h1{
  font-size: 3rem;
}
.right-div{
 
  text-align: center;
  width:55%;
  float:right;
  padding-right:5rem;
}
#age{
  text-align: center;
  border-radius: 50px;
  width:12rem;
  height:3rem;
  margin-top:2rem;
  margin-bottom: 2rem;
}

button{
  color:white !important;
  letter-spacing: .1rem;
  font-weight: 600 !important;
  border-radius: 50px !important;
  background-color:rgb(255, 108, 55) !important;
  width:12rem;
  height:3rem;
}
button:hover{
  background-color:rgb(226, 96, 49) !important; 
}
button:active{
  background-color:rgb(220, 81, 30) !important;
}

a{
  color:rgb(255, 108, 55) !important;
}
a:hover{
  color:rgb(255, 68, 0) !important; 
}

img{
  width:7rem;
  height:7rem;
}
h5{
  margin-top:1rem;
}
h6{
  margin-top:2rem;
}
.left-cards{
  width: 40%;
  margin-top: 5rem;
  float:left;
}
.right-cards{
  width: 60%;
  margin-top:1rem;
  float:right;
}
#p1,#p2,#p3,#p4{
  margin-top:1.5rem;
  padding: .5rem;
  height: 17rem;
  width:15rem;
  background-color: white;
}
#p1,#p2{
  float: right;
  margin-right:1.5rem;
}
#p3,#p4{
  margin-right:1.5rem;
}