body{

  background-image: url(./../img/space.jpg); 
  background-size: cover;
}
.left-div{
  width:45%;
  padding: 10rem 6rem 10rem 6rem;
  color:white;
  float:left;
}
h1{
  font-size: 3rem;
}
.right-div{
  height:fit-content;
  text-align: center;
  width:55%;
  float:right;
  padding-right:5rem;
  margin-bottom:3rem;
  display:block;
}
.left-cards{
  width: 40%;
  margin-top: 5rem;
  
  float:left;
}
.right-cards{
  width: 60%;
  margin-top:1rem;
  
  float:right;
}
@media screen and (max-width: 975px){
  .left-div{
    width: 100%;
    padding-bottom: 7rem;
    display: block;
  }
  .right-div{
    padding-right: 0;
    width:100%;
    display:block;
  }
  .left-cards{
    float:left;
    width:50%;
    margin:0;
    padding-right: .5rem !important;
  }
  .right-cards{
    width: 50%;
    margin:0;
    padding-left: .5rem !important;
  }
  #p1,#p2{
    float: left;
    display: block;
    margin-right:0 !important;
  }
   
}
#age{
  text-align: center;
  border-radius: 50px;
  width:12rem;
  height:3rem;
  margin-top:2rem;
  margin-bottom: 2rem;
}

button{
  color:white !important;
  letter-spacing: .1rem;
  font-weight: 600 !important;
  border-radius: 50px !important;
  background-color:rgb(255, 108, 55) !important;
  width:12rem;
  height:3rem;
}
button:hover{
  background-color:rgb(226, 96, 49) !important; 
}
button:active{
  background-color:rgb(220, 81, 30) !important;
}

a{
  color:rgb(255, 108, 55) !important;
}
a:hover{
  color:rgb(255, 68, 0) !important; 
}

img{
  width:7rem;
  height:7rem;
}
h5{
  margin-top:1rem;
}
h6{
  margin-top:2rem;
}

#p1,#p2,#p3,#p4{
  margin-top:1.5rem;
  padding: .5rem;
  height: 17rem;
  width:15rem;
  background-color: white;
}
#p1,#p2{
  float: right;
  margin-right:1.5rem; 
}
